
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

/******  Mes propriétés CSS  *****/

/* header */

.headstyle {
    display: flex;
    justify-content: space-between;
    height: 80px;


}
.headlogo{
    position: relative;
    bottom: 10px;
    right: 50px; /* pour qu'il se place au début */
    display: flex;
    height: 19px; /* pour correspondre en taille à la maquette */
    padding: 30px 50px 30px 50px;
    max-width: 100%;
    max-height: 100%;
}
.headlogo img {
    width: 61px;
    height: 19px;
    object-fit: cover;
}


.headmenu {
    display: flex;
    height: 35px;
    gap: 68px;
}
.button {
    display: inline;
    font: 16px sans-serif;
    font-weight: 400;
    align-content: flex-end;

}
.button:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.Title {
    margin-top: 28;
    margin-bottom: 0;
    font-size: 22px;
}

.subtitle {
    margin-top: 8px;
}
/* Rechercher */

/* je crée des "box" pour assurer une harmonie visuelle des "margin" et des "element" */
p {
    font-weight: 400;
}
.Rechercher section {
    box-sizing: border-box; /* Assure que les éléments s'ajustent correctement dans leur conteneur */
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
}
/* designé pour formulaire de recherche */
fieldset {
    display: flex;
    height: 50px;
    padding: 0;
    padding-bottom: 0;
    margin-top: 36px;
    border: 0;

}
/* code pour la partie icon */
fieldset i { 
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: 18px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.icon-search {
    background: none;
    height: auto;
    width: auto;
    display: none;
}


/* code pour le bouton submit */ 
.field-button {
    width: 132px;
    height: 50px;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 0px 15px 15px 0px;
    border: 0px;
    padding: 0px;
    background-color: #0065FC;
}
/* code pour la partie saisie du formulaire */
.field-form {
    border: 1px solid #F2F2F2;
    padding: 0px;
    text-align: center;
    font-weight: 700;
    color: #000;
}
/* modification pour l'icon info */
.info {
    width: 24px;
    height: 24px;
    align-content: center;
    text-align: center;
    font-size: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    margin-top: 28px;
}
/* conteneur des filtres mef */
.filtre-contain {
    display: flex;
    margin-top: 28px;
    align-items: center;
    justify-content: start;
    gap: 10px;
    
}

.filtre-container {
    display: flex;
    gap: 16px;
    width: 100%;
}
/* pour les box filtre */
.filtre {
    height: 50px;
    align-content: center;
    font-size: 17px;
    font-weight: 700;
    background: #FFFFFF;
    border-radius: 50px;
    border: 2px solid #D9D9D9;
    padding: 4px 19px 4px 19px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    place-content: center;
}
.filtre:hover {
    background: #DEEBFF;
    text-decoration: none;
    border-radius: 50px;
}
/* Hébergements */

.hebergement-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 207px 207px;
    gap: 30px ;
    padding-bottom: 30px;

}


.card-h {
    bottom: 28px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card-h img {
    object-fit: cover;
}

.card-h-title {
    font-size: 16px;
}

.hebergement-grid .card-h {
    margin-top: 28px;
}

.card-h-content {
    width: 250px;
    height: 83px;
    padding-left: 15px;
}
.hebergement-grid img {
    height: 114px;
    padding-left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid #FFFFFF;
}



.hebergement-grid .card-h-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergement-grid .card-h-subtitle {
    margin: 0;
}

.hebergement-grid .card-h-rating {
    margin-bottom: 5px;
}
.afficher {
    display: flex;
    text-emphasis-position: end;
    font-size: 18px;
    font-weight: 700;
    margin-top: 28px;
}

/* Activités */
.Activités section {
    box-sizing: border-box; /* Assure que les éléments s'ajustent correctement dans leur conteneur */
    width: 100%;
    margin-top: 28px;
    padding-top: 30px;
}
/* je garde la même structure que pour "hébergements" je change quelques
propriétés css */

.activite-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px ;
    padding: 0px 30px 30px 30px;

}


.card-a {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

}

.card-a img {
    object-fit: cover;
}

.card-a-title {
    font-size: 16px;
}

.card-a-content {
    height: 59px;
    padding-left: 15px;
}
.activite-grid img {
    height: 380px;
    width: 100%;
    padding-left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}


/* Footer */

/* Mise en page, utilisation des "flexbox" */
.Footstyle {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    width: 100%;
    margin-top: 28px;    
}
h4 {
    font-size: 18px;
}
ul {
    list-style-type: none; /* Enlève les points */
    padding-left: 0; /* Enlève le padding par défaut */
    font-size: 1em;
}
li {
    padding-bottom: 20px;
}
/* paddind pour le text */
.footbox {
    padding-left: 20px;
}

/* Application d'un ordre de section et
   Application d'un calc en background pour la partie responsive mobile */
   
/****** General ***********/

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 67%;
    order: 1;

}

/****** Populaires ***********/
.populaires {
    width: 33%;
    order: 2;

}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    height: 136px;
}

.populaires-cards img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-grid {
        grid-template-columns: repeat(4, 1fr); /* tttttttttt*/
    }
    .activite-grid img {          /* tttttttttt*/
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) and (min-width: 320px) {

    .hebergements-and-populaires section {
        padding: 0;
    }
   
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        order: 2
    }

    .hebergement-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
        order: 1;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    
    /* ... */
    p {
        width: 250px;
        text-align: justify;
    }

    

    .activite-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 30px 30px 0;
        
    }
    .activite-grid img {          /* tttttttttt*/
        height: 141px;
    }


    .filtre-contain {
        flex-wrap: wrap;
    }

    .filtre-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    .filtre {
        font-size: 14px;
        padding: 4px 10px 4px 10px;
    }

    .field-button span {
        display: none;
    }

    .icon-search {
        display: block;
    }
    .hebergements-and-populaires .populaires {
        background-color: #F2F2F2;
        border-radius: 0;
        margin: 0;
        padding:0;
    }
   
    .hebergements-and-populaires .populaires {
        background-color: #F2F2F2;
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 40px);
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -20px;
        margin-bottom: -20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hebergements-and-populaires .hebergements {
        background-color: #FFFFFF;
        border-radius: 0;
        margin: 0;
        padding:0;
    }
    .bulleinfo p {
        width: 100%;
    }
    .Footstyle {
        display: flex;
        flex-direction: column;
    }

/* zzzzzzzzzz*/

    .headstyle {
        display: block;
       
        
    }
    .headlogo {
        position: inherit;
        display: flex;
        padding: 30px 30px 30px 30px;
        justify-content: center;
        align-items: center;
    }

    
        
    
    
    .headmenu {

    }
       
    .button {
       display: block;
        align-content: flex-start;
    }
    .button:hover {
        border-style: solid ; /* Nécessaire pour que les bordures soient visibles */
        border-width: 0 0 2px 0; /* Définit une largeur de bordure par défaut */
        border-bottom-width: 2px; /* Largeur de bordure spécifique pour le côté final en ligne */
        color: #0065FC;
        border-color: #0065FC;
    }
}